* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav--logo_text {
    margin: 0px;
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    margin: 0px;
    color: #DEEBF8;
    font-weight: 600;
}

.nav--logo {
    height: 30px;
    margin-right: 7px;
}

main {
    padding: 50px 25px;
    color: white;
    background-image: url('./react-logo-half.png');
    background-repeat: no-repeat;
    background-position: center right;
}

.main--title {
    margin: 0px;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 45px;
    max-width: 400px;
}

.main--facts > li {
    padding-block: 10px;
}

.main--facts > li::marker {
    color: #61DAFB;
    font-size: 1.4rem;
}